@import "../omarchy/current/theme/waybar.css";

* {
  color: mix(@foreground, white, 0.85);

  border: none;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

window#waybar {
  /* background-color: alpha(@background, 0.21); */
  background-color: transparent;
}

/* margin: T R B L | margin: T/B L/R  (order: top, right, bottom, left) */
/* .modules-left { */
/*   background-color: alpha(@background, 0.5); */
/*   border-radius: 50; */
/*   padding: 0 8px; */
/*   margin: 6 0 6 8; */
/* } */

.modules-center {
  background-color: alpha(@background, 0.4);
  border-radius: 50;
  padding: 0 8px;
  margin: 6 0;

  /* margin: 3 0; */
}

/* margin: T R B L | margin: T/B L/R  (order: top, right, bottom, left) */
/* .modules-right { */
/*   background-color: alpha(@background, 0.5); */
/*   border-radius: 50; */
/*   padding: 0 8px 0 15px; */
/*   margin: 6 8 6 0; */
/* } */

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces {
  background-color: alpha(@foreground, 0.12);
  border-radius: 50;
  padding: 3px 6px;
  margin: 4 0;
}

#temperature,
#cpu,
#backlight,
#battery {
  background-color: alpha(@foreground, 0.12);
  border-radius: 50;
  padding: 3px 8px;
  margin: 6 0;
}

/* #cpu, */
/* #battery, */
/* #pulseaudio, */
/* #custom-omarchy { */
/*   min-width: 12px; */
/*   margin: 0 7.5px; */
/* } */

#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 18px;
  margin-left: 18px;
}

#network {
  margin-right: 18px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
  margin-right: 15px;
}

#custom-weather {
  margin-left: 7.5px;
  margin-right: 7.5px;
  min-width: 14px;
}

#custom-weather.unavailable {
  min-width: 0;
  margin: 0;
  padding: 0;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

.left .modules-left,
.right .modules-left {
  margin: 8px 0 0 0;
}
.left .modules-right,
.right .modules-right {
  margin: 0 0 8px 0;
}

.left #workspaces button,
.right #workspaces button {
  padding: 6px 0;
  margin: 1.5px 0;
}

.left #cpu,
.right #cpu,
.left #battery,
.right #battery,
.left #pulseaudio,
.right #pulseaudio,
.left #custom-omarchy,
.right #custom-omarchy,
.left #custom-update,
.right #custom-update {
  margin: 1.5px 0;
  padding: 6px 0;
  min-width: 0;
  min-height: 12px;
}

.left #tray,
.right #tray {
  margin: 0 0 16px 0;
}
.left #bluetooth,
.right #bluetooth {
  margin: 1.5px 0;
  padding: 6px 0;
  min-height: 12px;
}
.left #network,
.right #network {
  margin: 1.5px 0;
  padding: 6px 0;
  min-height: 12px;
}
.left #custom-expand-icon,
.right #custom-expand-icon {
  margin: 1.5px 0;
  padding: 6px 0;
  min-height: 12px;
}
.left #clock,
.right #clock {
  margin: 8.75px 0 0 0;
}
.left #custom-weather,
.right #custom-weather {
  margin: 1.5px 0;
  padding: 6px 0;
  min-height: 12px;
  min-width: 14px;
  margin-right: 4px;
}

.left #custom-screenrecording-indicator,
.right #custom-screenrecording-indicator,
.left #custom-idle-indicator,
.right #custom-idle-indicator,
.left #custom-notification-silencing-indicator,
.right #custom-notification-silencing-indicator {
  margin: 5px 0 0 0;
  min-width: 0;
  min-height: 12px;
}

.left #custom-voxtype,
.right #custom-voxtype {
  margin: 7.5px 0 0 0;
  min-width: 0;
  min-height: 12px;
}

#custom-expand-icon.vertical,
.left #custom-expand-icon.horizontal,
.right #custom-expand-icon.horizontal {
  opacity: 0;
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

.left #custom-expand-icon.vertical,
.right #custom-expand-icon.vertical {
  opacity: 1;
  font-size: inherit;
  min-width: 0;
  min-height: 12px;
  margin: 1.5px 0;
  padding: 6px 0;
}

#clock.vertical,
.left #clock.horizontal,
.right #clock.horizontal {
  opacity: 0;
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

.left #clock.vertical,
.right #clock.vertical {
  opacity: 1;
  font-size: inherit;
  min-width: 0;
  min-height: 12px;
  margin: 8.75px 0 0 0;
}
